<li class="item attack flexrow" data-action-id="{{actionId}}" data-item-name="{{action.name}}" data-item-id="{{action.sourceId}}">
    <div class="attack-header">
        <div class="attack-name">
            <h4>{{action.name}} <span class="activity-icon">{{action.glyph}}</span></h4>
        </div>
        <div class="attack-controls controls expandable">
            <a class="item-chat chat" title="{{ localize 'PF2E.NPC.SendToChat'}}"><i class="fas fa-comment-alt"></i></a>
            {{#if isEditable }}
                <a class="item-edit edit" title="{{ localize 'PF2E.NPC.Edit'}}"><i class="fas fa-edit"></i></a>
                <a class="item-delete delete" title="{{ localize 'PF2E.NPC.Remove' }}"><i class="fas fa-trash"></i></a>
            {{/if}}
        </div>
    </div>
    <div class="attack-body">
        <div class="attacks sub-section">
            <div class="flexrow">
                {{#each action.variants as |variant vi|}}
                    <button type="button" class="btn attack-button" {{#if (eq vi 0) }}title="{{action.breakdown}}"{{/if}} data-action="npcAttack" data-variant-index="{{vi}}">{{variant.label}}</button>
                {{/each}}
            </div>
        </div>
        <div class="damage sub-section">
            <div class="flexrow">
                <button type="button" class="btn damage-button" data-action="damage">{{#each action.damageBreakdown}}{{this}}{{#unless @last}} + {{/unless}}{{/each}}</button>
                <button type="button" class="btn critical-button" data-action="critical">{{localize 'Critical'}}</button>
            </div>
        </div>
        <div class="attack-detail sub-section expandable expanded">
            <div class="attack-description">
                {{{ enrichHTML action.description }}}
            </div>
            <div class="traits-list">
                {{#each traits as |trait traitIndex|}}
                    <div class="tag" title="{{localize trait.description}}">{{localize trait.label}}</div>
                {{/each}}
            </div>
        </div>
    </div>
</li>
