<h4 class="sidebar-summary">{{localize "PF2E.FeatFeatSummary"}}</h4>

<span class="item-summary">{{localize (lookup featTypes data.featType.value)}}</span>
{{# if data.requirements.value }}<span class="item-summary">{{data.requirements.value}}</span>{{/if}}

<ol class="item-tags">
  {{#each data.traits.value as |v|}}
    <li class="tag">{{v}}</li>
  {{/each}}
  {{#if data.level.value}}
    <li class="tag">Level {{data.level.value}}</li>
  {{/if}}
  <li class="tag">{{data.traits.rarity.value}}</li>
  {{#if data.actionType.value}}
    <li class="tag">{{data.actionType.value}}</li>
  {{/if}}
</ol>

{{#unless (any (eq data.featType.value "classfeature") (eq data.featType.value "ancestryfeature") (eq data.featType.value "curse") (eq data.featType.value "dietyboon") )}}
  <span class="item-summary">{{localize "PF2E.FeatPrereqLabel"}}</span>
  <ol class="item-tags">
  {{#each data.prerequisites.value as |v k|}}
    <li class="tag {{k}}">{{v.value}}</li>
  {{/each}}
  </ol>
{{/unless}}

{{#if itemTags.length}}
<ol class="item-tags">
    {{#each itemTags}}
    <li class="tag">{{this}}</li>
    {{/each}}
</ol>
{{/if}}
