
<div class="form-group">
    <label>{{localize "PF2E.NPCWeaponAttackLabel"}}</label>
    <input type="number" name="data.bonus.value" value="{{data.bonus.value}}" data-dtype="Number"/>
</div>

<ol class="form-list">
    {{#if data.damageRolls}}
    {{#each data.damageRolls as |damageRoll did|}}
    <li class="damage-part flexrow" data-damage-part="{{did}}">
        <div class="form-group">
            <label>{{localize "PF2E.DamageLabel"}}</label>
            <input type="text" name="data.damageRolls.{{did}}.damage" value="{{lookup this "damage"}}" data-dtype="String" style="margin-right:5px"/>
        </div>
        <div class="form-group">
            <label>{{localize "PF2E.NPCWeaponDamageTypeLabel"}}</label>
                <select name="data.damageRolls.{{did}}.damageType" data-dtype="String">
                    {{#select (lookup this "damageType")}}
                    {{#each ../weaponDamage as |name type|}}
                    <option value="{{type}}">{{name}}</option>
                    {{/each}}
                    {{/select}}
                </select>
        </div>
        <div style="flex:0; margin-left:5px; display:flex; align-items:center;">
            <a class="damage-control delete-damage"><i class="fas fa-minus"></i></a>
        </div>
    </li>
    {{/each}}
    {{/if}}
        <div class="form-group" style="display:flex; align-items:center;">
            <label>
                <a class="damage-control add-damage">{{localize "PF2E.NPCWeaponAddDamage"}} <i class="fas fa-plus"></i></a>
            </label>
        </div>
</ol>

<div class="form-group-stacked">
    <label>
        {{localize "PF2E.NPCWeaponAttackEffect"}}
        <a class="trait-selector" data-trait-selector="basic" data-config-types="attackEffects" data-property="data.attackEffects"><i class="fas fa-edit"></i></a>
    </label>

    <ul class="traits-list pf-value pf-large">
        {{#each data.attackEffects.value as |v k|}}
            <span class="tag {{k}}">{{v}}</span>
        {{/each}}
        {{#if item.data.attackEffects.custom}}
            <span class="tag">{{data.attackEffects.custom}}</span>
        {{/if}}
    </ul>
</div>

<div class="form-group-stacked">
    <label>
        {{localize "PF2E.TraitsLabel"}}
        <a class="trait-selector" data-trait-selector="basic" data-config-types="weaponTraits"  data-property="data.traits"><i class="fas fa-edit"></i></a>
    </label>

    <ul class="traits-list pf-value pf-large">
        {{#each data.traits.value as |v k|}}
            <span class="tag {{k}}">{{v}}</span>
        {{/each}}
    </ul>
</div>
