#world-clock {
  section.window-content {
    h1 {
      text-align: center;
      font-size: 1.6em;
    }

    .input-grid {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-evenly;
    }

    .input-grid * {
      flex-basis: 32%;
    }
  }
}
