<div class="pf2e chat-card weapon-card" data-actor-id="{{actor._id}}" data-item-id="{{item._id}}" {{#if tokenId}}data-token-id="{{tokenId}}"{{/if}}>
    <header class="card-header flexrow">
        <img src="{{item.img}}" title="{{item.name}}" width="36" height="36"/>
        <h3>{{item.name}}</h3>
    </header>

    <div class="card-content">{{{data.description.value}}}</div>

    <div class="card-buttons">
        <div class="card-buttons-multiattack">
            <button data-action="weaponAttack">{{localize "PF2E.AttackLabel"}}</button>
            <button data-action="weaponAttack2">{{data.map2}}</button>
            <button data-action="weaponAttack3">{{data.map3}}</button>
        </div>
        <div class="card-buttons-two-column">
            <button data-action="weaponDamage">{{localize "PF2E.DamageLabel"}}</button>
            <button data-action="criticalDamage">{{localize "PF2E.CriticalDamageLabel"}}</button>
        </div>
    </div>

    <footer class="card-footer">
        {{#each data.properties}}
            <span>{{localize this}}</span>
        {{/each}}
        {{#if data.critSpecialization}}
            <span title="{{data.critSpecialization.description}}">{{data.critSpecialization.label}}</span>
        {{/if}}
        {{#each data.traits}}
            <span title="{{localize this.description}}">{{localize this.label}}</span>
        {{/each}}
    </footer>
</div>
